ncnemea/nemea-data.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" xmlns:nemea="urn:cesnet:tmc:nemea:1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="//usr/local/share/libnetconf/rnglib//relaxng-lib.rng"/><start><element name="data"><interleave><grammar ns="urn:cesnet:tmc:nemea:1.0"><include href="./nemea-gdefs.rng"/><start><optional><element name="nemea:nemea-supervisor"><optional><element name="nemea:modules"><interleave><optional><element name="nemea:name"><data type="string"/></element></optional><zeroOrMore><element name="nemea:module"><element name="nemea:name"><data type="string"/></element><interleave><optional><element name="nemea:params"><data type="string"/></element></optional><element name="nemea:enabled"><choice><value>true</value><value>false</value></choice></element><optional><element name="nemea:running"><choice><value>true</value><value>false</value></choice></element></optional><element name="nemea:path"><data type="string"/></element><optional><element name="nemea:trapinterfaces"><zeroOrMore><element name="nemea:interface"><element name="nemea:type"><ref name="nemea__trapifc-type"/></element><element name="nemea:direction"><ref name="nemea__trapifc-direction"/></element><element name="nemea:params"><data type="string"/></element><optional><element name="nemea:note"><data type="string"/></element></optional></element></zeroOrMore></element></optional></interleave></element></zeroOrMore></interleave></element></optional></element></optional></start></grammar></interleave></element></start></grammar>
